# Data Warehouse storage
DWH/
warehouse/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# dbt
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/dbt_venv/

# IDE
.vscode/
.idea/
